@tailwind base;
@tailwind components;
@tailwind utilities;

/* .react-calendar {
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.react-calendar__tile {
  background: var(--secondary-light);
  color: var(--primary-light);
}

.react-calendar__tile--active {
  background: var(--primary);
  color: var(--secondary);
} */